<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiyalucky.shortplayserver.mapper.AdminUserMapper">

    <resultMap id="BaseResultMap" type="com.aiyalucky.shortplayserver.dao.AdminUser">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
            <result property="updatedTime" column="updated_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,username,password,
        email,phone,created_time,
        updated_time
    </sql>

    <select id="findByUsername" resultType="com.aiyalucky.shortplayserver.dao.AdminUser">
        SELECT *
        FROM admin_user
        WHERE username = #{username}
    </select>

    <select id="selectAll" resultType="com.aiyalucky.shortplayserver.dao.AdminUser">
        select *
        from admin_user;
    </select>

    <select id="selectByName" resultType="com.aiyalucky.shortplayserver.dao.AdminUser">
        select *
        from admin_user
        where username = #{username};
    </select>

    <insert id="insert" parameterType="com.aiyalucky.shortplayserver.dao.AdminUser">
        insert into admin_user(username, password, email, phone, created_time, updated_time)
        values (#{username}, #{password}, #{email}, #{phone}, #{created_time}, #{updated_time})
    </insert>

    <update id="updateUser" parameterType="com.aiyalucky.shortplayserver.dao.AdminUser">
        update admin_user
        set email = #{email},
            phone = #{phone}
            where username = #{username};
    </update>

    <delete id="deleteUser" parameterType="string">
        DELETE
        FROM user
        WHERE username = #{username}
    </delete>
</mapper>
